[submodule "deps/libpng12"]
	path = deps/libpng12
	url = https://github.com/pnggroup/libpng.git
	branch = libpng12
[submodule "deps/libjpeg-turbo"]
	path = deps/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
	branch = 3.0.4
[submodule "deps/libwebp"]
	path = deps/libwebp
	url = https://chromium.googlesource.com/webm/libwebp
	branch = v1.4.0
[submodule "deps/qrcodegen"]
	path = deps/qrcodegen
	url = https://github.com/nayuki/QR-Code-generator.git
[submodule "deps/glaze"]
	path = deps/glaze
	url = https://github.com/stephenberry/glaze.git
	branch = v7.8.4
[submodule "deps/openssl3"]
	path = deps/openssl3
	url = https://github.com/openssl/openssl.git
	branch = openssl-3.0.21
[submodule "deps/curl"]
	path = deps/curl
	url = https://github.com/curl/curl.git
	branch = curl-8_21_0
[submodule "deps/zlib"]
	path = deps/zlib
	url = https://github.com/madler/zlib.git
