[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Terminal=false
Name=MeeTube
Exec=env TERM=xterm LD_LIBRARY_PATH=/opt/meetube/lib /usr/bin/invoker --type=d -s /opt/meetube/bin/meetube
Icon=/usr/share/icons/hicolor/80x80/apps/meetube80.png
X-Window-Icon=
X-HildonDesk-ShowInToolbar=true
X-Osso-Type=application/x-executable
