#!/usr/bin/make -f
# -*- makefile -*-
# debian/rules for MeeTube (CMake build). Invoked by dpkg-buildpackage from
# inside the CMake build directory (the `package` CMake target copies debian/
# there and runs `mad ... dpkg-buildpackage`). The CMake project has already
# been configured + built at that point, so configure/build are no-ops here and
# install simply drives the CMake `install` target into the package staging root.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: build-stamp

build-stamp: configure-stamp
	dh_testdir
	touch $@

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	cmake --build . --target install -- DESTDIR="$(CURDIR)/debian/meetube"

binary-indep: build install

binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installchangelogs
	dh_installdocs
	dh_installexamples
	dh_installman
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
